language: ruby
rvm:
- 2.2.0
branches:
  only:
    - master
gemfile:
- Gemfile
before_script:
- psql -c 'create database ex_rails_test_db' -U postgres
- bundle exec rake db:create db:migrate db:schema:load
deploy:
  provider: heroku
  api_key:
    secure: a6VvkMJmctcGEdFkbZBKQ8FU2RJBX8p5ts6ugYFjBpwzto7R2UMUpK+sp/9I9TCUG4IsTIvu5v1giuE6pflfCqzLPTDXEisinymACmHgdDh0nEuflYlR3JF6Hl67f6gB389XFeZPURUE/fSFDb9KXnthWic1BmhDt7XUr55a5aPIwpz7ja0IlTwxbFjySciM0tCimxF0gCh1NAneywvxDTkDJMxIeqkec0E79RLorV5xI0uIMnFpJPBLtfR4YX4FOEpluLkqmFMdTkN1pzKIsB3iPzE/LA4SIBg1qm7SqKMKPn1jZA10nJOLJqzEEGB7veDsYI12CuR/9eWX+Jv20vvMs1D7ibOxZnc7e1Q1ito0w6VCgc7laXEEWW+HFQW6SOAIC4nM4dgISrvLN9cRfiwe5MV6EHBpD5nRuCp4VlmoDW7azN7kvHjLBlHlol3s3tcCzY46AQKbmpWEX2vLv39VJvrA4naZMS5wKJWsyXos7v+i1M1QTJPqnJRrdWTRzR00qtcre4eSGtxTL0FVfpf0nlTJfowyOmQPBVECHLIGtxqcIagj1GN5r5xI+sgMednZlCYVZ/QmkqGvmS581wQ6TNLhSl9zy7jy6CRFiHGfMoFZPUGWvxeL+r76exQgLQx4cOIPCOw4osbsqw0iPprlYYaondfl7xhmPGDXKTE=
  app: store-1
  run:
    - "rake db:reset"
    - "rake db:migrate"
    - "rake db:seed"
    - restart
  on:
    branch: master
    rvm: 2.2.0
