<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-12 col-md-12">

      <div class="page-header">
        <h1>Admin panel</h1>
      </div>
      <div>
        <%= link_to 'Products', products_path, method: :get, class: "btn btn-info" %>
        <%= link_to 'Category', categories_path, method: :get, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>