@import "bootstrap-sprockets";
@import "bootstrap";

@import "pages";

$grayMediumLight: #eaeaea;

.main-page-content {
  padding-top: 60px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #00FFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 11px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #00FFFF;
    text-decoration: none;
  }
}

/* footer */

footer {
  padding-left: 100px;
  text-align: center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;

  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.paginate-centre{
  text-align: center;
}

.page-header {
  border-bottom: 0px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h2.centre {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.flash {
  font-size: 1.1em;
}

#name_product {
  font-weight: bold;
}

#price {
  font-weight: bold;
}

.name-user {
  color: white;
  top: 13px;
}