<% provide(:title, "Contact Us") %>
<% provide(:contact, 'active') %>

<div class="container-fluid"> 
  <div class="row">

    <%= render 'shared/side_bar' %>

    <div class="container">
      <div class="col-sm-9 col-md-10">

        <div class="page-header">
          <h1>Contact us</h1>
        </div>
        <p>New York phone 212-000-0000</p>
        <p>Berlin phone 049-000-0000</p>
      </div>
    </div>
    
  </div>
</div>
