<% provide(:title, "Delivery and payment") %>
<% provide(:delivery, 'active') %>

<div class="container-fluid"> 
  <div class="row">

    <%= render 'shared/side_bar' %>

    <div class="container">
      <div class="col-sm-9 col-md-10">

        <div class="page-header">
          <h2>Delivery</h2>
          <p>Delivery in any city of the world.</p>
          <p>You need to specify in the order the delivery address. Goods will be delivered within three days.</p>
          <h2>Payment</h2>
          <h3>Payment methods</h3>
          <ul>
            <li>Payment at the time of receipt of goods</li>
            <li>Paying with a Credit, Debit, or Gift Card</li>
            <li>E-Wallet</li>
            <li>Online banking</li>
            <li>Cash and PIN payment</li>
          </ul>

        </div>

      </div>
    </div>

  </div>
</div>
