<% provide(@category_id.to_sym, 'active') %>
<% provide(:title, 'Products') %>

<div class="container-fluid"> 
  <div class="row">

    <%= render 'shared/side_bar' %>

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1>Products</h1>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-8 sidebar">
          <% if @products.empty? %>
            <b>Products not found</b>
          <% else %>

            <div class="table-responsive">
              <table class="table ">
                <tbody id="products">
                  <%= render partial: "product", :collection => @products, :as => :product %>
                </tbody>
              </table>
            </div>
            
            <div id="paginator", class="paginate-centre">
              <%= paginate @products, :remote => true %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>